In [3]:
import pandas as pd

***Importation of data***

In [5]:
dfcreation = pd.read_csv(filepath_or_buffer = './TABLE_CREATION_2017_2023.csv')
dfcreation.head()

,Secteur,trimestre,code_region,code_dep,nombre_creation
0,Activites de services administratifs et de sou...,12017,1,971,279
1,Activites de services administratifs et de sou...,12017,2,972,638
2,Activites de services administratifs et de sou...,12017,3,973,31
3,Activites de services administratifs et de sou...,12017,4,974,133
4,Activites de services administratifs et de sou...,12017,6,976,11

In [6]:
dfdefaut = pd.read_csv(filepath_or_buffer = './TABLE_DEFAUT_2017_2023.csv')
dfdefaut.head()

,Secteur,trimestre,code_region,code_dep,nombre_defaut
0,Activites de services administratifs et de sou...,12017,1.0,971,4
1,Activites de services administratifs et de sou...,12017,2.0,972,8
2,Activites de services administratifs et de sou...,12017,3.0,973,1
3,Activites de services administratifs et de sou...,12017,4.0,974,8
4,Activites de services administratifs et de sou...,12017,11.0,075,30

In [12]:
seriesmacro_xlsx = 'Series macroeconomiques.xlsx'
dfseriesmacro = pd.read_excel(seriesmacro_xlsx)
dfseriesmacro.head()

,Estimations de taux de chômage localisé : comparaisons régionales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,(en%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Code,Libellé,T1_2012,T2_2012,T3_2012,T4_2012,T1_2013,T2_2013,T3_2013,T4_2013,...,T1_2021,T2_2021,T3_2021,T4_2021,T1_2022,T2_2022,T3_2022,T4_2022,T1_2023,T2_2023
3,00,FRANCE (HORS MAYOTTE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.2,7.9,8,7.4,7.4,7.4,7.3,7.2,7.1,7.2
4,00,FRANCE METROPOLITAINE,9.1,9.4,9.4,9.8,10,10.1,9.9,9.8,...,8,7.7,7.7,7.2,7.1,7.1,7.1,7,6.9,6.9

In [15]:
catastrophes_xlsx = 'catastrophes_naturelles .xlsx'
dfcatastrophes = pd.read_excel(catastrophes_xlsx)
dfcatastrophes.head()

,codgeo,LIBCOM,GFP Fiscalité,Type de groupement Fiscalité,Code DEP,Libellé Département,Code Région,Libellé Région,Code Postal,PoPCommunes2022,typ_catnat,nb_catnat,annees,ppr_prescrit,ppr_approuve,ppr_anticip
0,097101,LES ABYMES,CA CAP Excellence,CA,971,GUADELOUPE,1,GUADELOUPE,97139,54858,inondations,1,2017,0,0,0
1,097101,LES ABYMES,CA CAP Excellence,CA,971,GUADELOUPE,1,GUADELOUPE,97139,54858,mouvements de terrains,1,2004,0,0,0
2,097101,LES ABYMES,CA CAP Excellence,CA,971,GUADELOUPE,1,GUADELOUPE,97139,54858,mouvements de terrains,1,2012,1,1,0
3,097101,LES ABYMES,CA CAP Excellence,CA,971,GUADELOUPE,1,GUADELOUPE,97139,54858,phénomènes tropicaux,1,1995,0,0,0
4,097101,LES ABYMES,CA CAP Excellence,CA,971,GUADELOUPE,1,GUADELOUPE,97139,54858,séismes,1,2004,0,0,0