<a href="https://colab.research.google.com/github/SamyaAmernis/DRiM-Challenge/blob/main/modele_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_creation = pd.read_csv(filepath_or_buffer = './TABLE_CREATION_VF.csv')
df_defaut = pd.read_csv(filepath_or_buffer = './TABLE_DEFAUT_VF.csv')
df_pib = pd.read_csv(filepath_or_buffer = './TABLE_PIB_CLEAN.csv')
df_chomage = pd.read_csv(filepath_or_buffer = './TABLE_CHOMAGE_VF.csv')

In [2]:
import pandas as pd
from unidecode import unidecode

<h3>DISPLAY INITIAL DB

In [3]:
df_chomage

    Code                Libellé  trimestre  chomage
0      0  FRANCE METROPOLITAINE       2017    9.100
1      0  FRANCE METROPOLITAINE       2018    8.700
2      0  FRANCE METROPOLITAINE       2019    8.150
3      0  FRANCE METROPOLITAINE       2020    7.850
4      0  FRANCE METROPOLITAINE       2021    7.650
..   ...                    ...        ...      ...
90    99  FRANCE (HORS MAYOTTE)       2017    9.400
91    99  FRANCE (HORS MAYOTTE)       2018    9.050
92    99  FRANCE (HORS MAYOTTE)       2019    8.450
93    99  FRANCE (HORS MAYOTTE)       2020    8.025
94    99  FRANCE (HORS MAYOTTE)       2021    7.875

[95 rows x 4 columns]

In [4]:
df_defaut

,Secteur,trimestre,code_region,code_dep,nombre_defaut
0,Activites financieres et d'assurance,2017,1,971,5
1,Activites financieres et d'assurance,2017,2,972,10
2,Activites financieres et d'assurance,2017,3,973,1
3,Activites financieres et d'assurance,2017,4,974,7
4,Activites financieres et d'assurance,2017,11,75,61
...,...,...,...,...,...
6216,Transports et entreposage,2021,93,6,28
6217,Transports et entreposage,2021,93,83,16
6218,Transports et entreposage,2021,93,84,12
6219,Transports et entreposage,2021,94,2A,1
6220,Transports et entreposage,2021,94,2B,1

In [5]:
df_pib

                      Région Année  PIB_VAL  PIB_VOL PIB_HAB  PIB_EMP
0       Auvergne-Rhône-Alpes  2012  237 012  240 235  30 675   72 853
1    Bourgogne-Franche-Comté  2012   71 867   72 844  25 500   66 002
2                   Bretagne  2012   85 516   86 679  26 329   65 448
3        Centre-Val de Loire  2012   68 600   69 533  26 723   68 480
4                      Corse  2012    8 091    8 201  25 426   67 481
..                       ...   ...      ...      ...     ...      ...
175               Guadeloupe  2021    8 912    8 417  23 449   62 385
176               Martinique  2021    9 082    8 533  25 604   62 927
177                   Guyane  2021    4 580    3 971  15 611   61 921
178                 Réunion   2021   20 339   19 526  23 423   62 536
179                  Mayotte  2021    2 932    2 693   9 978  55 415

[180 rows x 6 columns]

In [6]:
df_chomage

    Code                Libellé  trimestre  chomage
0      0  FRANCE METROPOLITAINE       2017    9.100
1      0  FRANCE METROPOLITAINE       2018    8.700
2      0  FRANCE METROPOLITAINE       2019    8.150
3      0  FRANCE METROPOLITAINE       2020    7.850
4      0  FRANCE METROPOLITAINE       2021    7.650
..   ...                    ...        ...      ...
90    99  FRANCE (HORS MAYOTTE)       2017    9.400
91    99  FRANCE (HORS MAYOTTE)       2018    9.050
92    99  FRANCE (HORS MAYOTTE)       2019    8.450
93    99  FRANCE (HORS MAYOTTE)       2020    8.025
94    99  FRANCE (HORS MAYOTTE)       2021    7.875

[95 rows x 4 columns]

 <h3> 1. Faire la fusion PIB CHOMAGE

In [7]:
df_chomage = df_chomage.rename(columns={'Libellé': 'Région'})

In [8]:
df_chomage

    Code                 Région  trimestre  chomage
0      0  FRANCE METROPOLITAINE       2017    9.100
1      0  FRANCE METROPOLITAINE       2018    8.700
2      0  FRANCE METROPOLITAINE       2019    8.150
3      0  FRANCE METROPOLITAINE       2020    7.850
4      0  FRANCE METROPOLITAINE       2021    7.650
..   ...                    ...        ...      ...
90    99  FRANCE (HORS MAYOTTE)       2017    9.400
91    99  FRANCE (HORS MAYOTTE)       2018    9.050
92    99  FRANCE (HORS MAYOTTE)       2019    8.450
93    99  FRANCE (HORS MAYOTTE)       2020    8.025
94    99  FRANCE (HORS MAYOTTE)       2021    7.875

[95 rows x 4 columns]

In [9]:
df_pib['Région'] = df_pib['Région'].apply(lambda x: unidecode(x).upper())

In [10]:
df_pib

                      Région Année  PIB_VAL  PIB_VOL PIB_HAB  PIB_EMP
0       AUVERGNE-RHONE-ALPES  2012  237 012  240 235  30 675   72 853
1    BOURGOGNE-FRANCHE-COMTE  2012   71 867   72 844  25 500   66 002
2                   BRETAGNE  2012   85 516   86 679  26 329   65 448
3        CENTRE-VAL DE LOIRE  2012   68 600   69 533  26 723   68 480
4                      CORSE  2012    8 091    8 201  25 426   67 481
..                       ...   ...      ...      ...     ...      ...
175               GUADELOUPE  2021    8 912    8 417  23 449   62 385
176               MARTINIQUE  2021    9 082    8 533  25 604   62 927
177                   GUYANE  2021    4 580    3 971  15 611   61 921
178                 REUNION   2021   20 339   19 526  23 423   62 536
179                  MAYOTTE  2021    2 932    2 693   9 978  55 415

[180 rows x 6 columns]

<h4 style="color:red"> Attention la clé primare est région & année <h4>

In [11]:
df_merged2 = pd.merge(df_pib, df_chomage, left_on='Région', right_on='Région')
df_merged2

,Région,Année,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,Code,trimestre,chomage
0,AUVERGNE-RHONE-ALPES,2012,237 012,240 235,30 675,72 853,84,2017,8.100
1,AUVERGNE-RHONE-ALPES,2012,237 012,240 235,30 675,72 853,84,2018,7.725
2,AUVERGNE-RHONE-ALPES,2012,237 012,240 235,30 675,72 853,84,2019,7.300
3,AUVERGNE-RHONE-ALPES,2012,237 012,240 235,30 675,72 853,84,2020,7.075
4,AUVERGNE-RHONE-ALPES,2012,237 012,240 235,30 675,72 853,84,2021,6.950
...,...,...,...,...,...,...,...,...,...
745,GUYANE,2021,4 580,3 971,15 611,61 921,3,2017,21.850
746,GUYANE,2021,4 580,3 971,15 611,61 921,3,2018,18.975
747,GUYANE,2021,4 580,3 971,15 611,61 921,3,2019,19.350
748,GUYANE,2021,4 580,3 971,15 611,61 921,3,2020,16.075
749,GUYANE,2021,4 580,3 971,15 611,61 921,3,2021,14.275

Avec cette clé c'est uniquement le PIB de 2012 qui est appliqué à toutes les années...

On change le titre trimestre en Année dans la base chômage.

In [12]:
df_chomage = df_chomage.rename(columns={'trimestre': 'Année'})

In [13]:
df_chomage

    Code                 Région  Année  chomage
0      0  FRANCE METROPOLITAINE   2017    9.100
1      0  FRANCE METROPOLITAINE   2018    8.700
2      0  FRANCE METROPOLITAINE   2019    8.150
3      0  FRANCE METROPOLITAINE   2020    7.850
4      0  FRANCE METROPOLITAINE   2021    7.650
..   ...                    ...    ...      ...
90    99  FRANCE (HORS MAYOTTE)   2017    9.400
91    99  FRANCE (HORS MAYOTTE)   2018    9.050
92    99  FRANCE (HORS MAYOTTE)   2019    8.450
93    99  FRANCE (HORS MAYOTTE)   2020    8.025
94    99  FRANCE (HORS MAYOTTE)   2021    7.875

[95 rows x 4 columns]

On merge avec la clé primaire

In [14]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Région   180 non-null    object
 1   Année    180 non-null    object
 2   PIB_VAL  180 non-null    object
 3   PIB_VOL  180 non-null    object
 4   PIB_HAB  180 non-null    object
 5   PIB_EMP  180 non-null    object
dtypes: object(6)
memory usage: 8.6+ KB

In [15]:
df_chomage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     95 non-null     int64
 1   Région   95 non-null     object
 2   Année    95 non-null     int64
 3   chomage  95 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ KB

<p style="color:red"> Il faut mettre l'année en INT64 car les valeurs des PIB ont été importés comme des string au lieu de INT <p>

In [16]:
df_pib['Année'] = df_pib['Année'].str.replace('\D', '', regex=True)
df_pib['Année'] = df_pib['Année'].astype('int64')

In [17]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Région   180 non-null    object
 1   Année    180 non-null    int64
 2   PIB_VAL  180 non-null    object
 3   PIB_VOL  180 non-null    object
 4   PIB_HAB  180 non-null    object
 5   PIB_EMP  180 non-null    object
dtypes: int64(1), object(5)
memory usage: 8.6+ KB

In [18]:
df_pib['PIB_VAL'] = df_pib['PIB_VAL'].str.replace('\D', '', regex=True)
df_pib['PIB_VAL'] = df_pib['PIB_VAL'].astype('int64')

In [19]:
df_pib

                      Région  Année  PIB_VAL  PIB_VOL PIB_HAB  PIB_EMP
0       AUVERGNE-RHONE-ALPES   2012   237012  240 235  30 675   72 853
1    BOURGOGNE-FRANCHE-COMTE   2012    71867   72 844  25 500   66 002
2                   BRETAGNE   2012    85516   86 679  26 329   65 448
3        CENTRE-VAL DE LOIRE   2012    68600   69 533  26 723   68 480
4                      CORSE   2012     8091    8 201  25 426   67 481
..                       ...    ...      ...      ...     ...      ...
175               GUADELOUPE   2021     8912    8 417  23 449   62 385
176               MARTINIQUE   2021     9082    8 533  25 604   62 927
177                   GUYANE   2021     4580    3 971  15 611   61 921
178                 REUNION    2021    20339   19 526  23 423   62 536
179                  MAYOTTE   2021     2932    2 693   9 978  55 415

[180 rows x 6 columns]

In [20]:
df_pib['PIB_VOL'] = df_pib['PIB_VOL'].str.replace('\D', '', regex=True)
df_pib['PIB_VOL'] = df_pib['PIB_VOL'].astype('int64')

In [21]:
df_pib['PIB_HAB'] = df_pib['PIB_HAB'].str.replace('\D', '', regex=True)
df_pib['PIB_HAB'] = df_pib['PIB_HAB'].astype('int64')

In [22]:
df_pib['PIB_EMP'] = df_pib['PIB_EMP'].str.replace('\D', '', regex=True)
df_pib['PIB_EMP'] = df_pib['PIB_EMP'].astype('int64')

In [23]:
df_pib

                      Région  Année  PIB_VAL  PIB_VOL  PIB_HAB  PIB_EMP
0       AUVERGNE-RHONE-ALPES   2012   237012   240235    30675    72853
1    BOURGOGNE-FRANCHE-COMTE   2012    71867    72844    25500    66002
2                   BRETAGNE   2012    85516    86679    26329    65448
3        CENTRE-VAL DE LOIRE   2012    68600    69533    26723    68480
4                      CORSE   2012     8091     8201    25426    67481
..                       ...    ...      ...      ...      ...      ...
175               GUADELOUPE   2021     8912     8417    23449    62385
176               MARTINIQUE   2021     9082     8533    25604    62927
177                   GUYANE   2021     4580     3971    15611    61921
178                 REUNION    2021    20339    19526    23423    62536
179                  MAYOTTE   2021     2932     2693     9978    55415

[180 rows x 6 columns]

In [24]:
df_merged = pd.merge(df_pib, df_chomage, on=['Région', 'Année'])

In [25]:
df_merged

,Région,Année,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,Code,chomage
0,AUVERGNE-RHONE-ALPES,2017,264325,258603,33159,77816,84,8.100
1,BOURGOGNE-FRANCHE-COMTE,2017,76855,75191,27354,70282,27,8.200
2,BRETAGNE,2017,96798,94703,29093,71319,53,7.900
3,CENTRE-VAL DE LOIRE,2017,72752,71178,28258,72327,24,8.850
4,CORSE,2017,9058,8862,26898,71541,94,9.400
...,...,...,...,...,...,...,...,...
70,PAYS DE LA LOIRE,2021,127189,116769,32838,73659,52,6.525
71,PROVENCE-ALPES-COTE D'AZUR,2021,181067,166232,35273,79540,93,8.875
72,GUADELOUPE,2021,8912,8417,23449,62385,1,17.175
73,MARTINIQUE,2021,9082,8533,25604,62927,2,12.925
74,GUYANE,2021,4580,3971,15611,61921,3,14.275

In [26]:
df_code_84 = df_merged.loc[df_merged['Code'] == 84]
df_code_84

,Région,Année,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,Code,chomage
0,AUVERGNE-RHONE-ALPES,2017,264325,258603,33159,77816,84,8.100
15,AUVERGNE-RHONE-ALPES,2018,274209,265660,34210,78852,84,7.725
30,AUVERGNE-RHONE-ALPES,2019,282294,270025,35035,80747,84,7.300
45,AUVERGNE-RHONE-ALPES,2020,270450,251639,33418,75823,84,7.075
60,AUVERGNE-RHONE-ALPES,2021,290877,267045,35765,79730,84,6.950

 <h3> 2. Faire la fusion MERGE 1 wth CREATION & Defaut

In [27]:
df_creation

,Secteur,trimestre,code_region,code_dep,nombre_creation,Quartile_MOY,Quartile_CV
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4
3,Activites de services administratifs et de sou...,2017,4,974,133,3,4
4,Activites de services administratifs et de sou...,2017,6,976,11,3,4
...,...,...,...,...,...,...,...
29657,Transports et entreposage,2021,93,13,973,4,4
29658,Transports et entreposage,2021,93,83,256,4,4
29659,Transports et entreposage,2021,93,84,146,4,4
29660,Transports et entreposage,2021,94,2A,14,4,4
29661,Transports et entreposage,2021,94,2B,19,4,4

<h3 style="color:blue" echelle departementale

In [28]:
df_creation = df_creation.rename(columns={'trimestre': 'Année'})
df_creation = df_creation.rename(columns={'code_region': 'Code'})
df_creation

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4
3,Activites de services administratifs et de sou...,2017,4,974,133,3,4
4,Activites de services administratifs et de sou...,2017,6,976,11,3,4
...,...,...,...,...,...,...,...
29657,Transports et entreposage,2021,93,13,973,4,4
29658,Transports et entreposage,2021,93,83,256,4,4
29659,Transports et entreposage,2021,93,84,146,4,4
29660,Transports et entreposage,2021,94,2A,14,4,4
29661,Transports et entreposage,2021,94,2B,19,4,4

<h3 style="color:blue"> Hypothèse 1 Echelle departementale

In [29]:
df_merged_h1 = pd.merge(df_creation, df_merged,  on=['Code', 'Année'] ,  how='left')
df_merged_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850
3,Activites de services administratifs et de sou...,2017,4,974,133,3,4,NaN,NaN,NaN,NaN,NaN,NaN
4,Activites de services administratifs et de sou...,2017,6,976,11,3,4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29657,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29658,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29659,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29660,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750
29661,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750

In [30]:
df_code_84 = df_merged.loc[df_merged['Code'] == 4]
df_code_84

Empty DataFrame
Columns: [Région, Année, PIB_VAL, PIB_VOL, PIB_HAB, PIB_EMP, Code, chomage]
Index: []

In [31]:
df_merged_h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29662 entries, 0 to 29661
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Secteur          29662 non-null  object
 1   Année            29662 non-null  int64
 2   Code             29662 non-null  int64
 3   code_dep         29662 non-null  object
 4   nombre_creation  29662 non-null  int64
 5   Quartile_MOY     29662 non-null  int64
 6   Quartile_CV      29662 non-null  int64
 7   Région           26083 non-null  object
 8   PIB_VAL          26083 non-null  float64
 9   PIB_VOL          26083 non-null  float64
 10  PIB_HAB          26083 non-null  float64
 11  PIB_EMP          26083 non-null  float64
 12  chomage          26083 non-null  float64
dtypes: float64(5), int64(5), object(3)
memory usage: 2.9+ MB

In [32]:
df_merged_h1 = df_merged_h1.dropna(subset=['Région'])

In [33]:
df_merged_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850
5,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150
6,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29657,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29658,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29659,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875
29660,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750
29661,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750

In [34]:
df_code_84_h1 = df_merged_h1.loc[df_merged_h1['Code'] == 84]
df_code_84_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage
81,Activites de services administratifs et de sou...,2017,84,1,73,3,4,AUVERGNE-RHONE-ALPES,264325.0,258603.0,33159.0,77816.0,8.10
82,Activites de services administratifs et de sou...,2017,84,3,51,3,4,AUVERGNE-RHONE-ALPES,264325.0,258603.0,33159.0,77816.0,8.10
83,Activites de services administratifs et de sou...,2017,84,7,66,3,4,AUVERGNE-RHONE-ALPES,264325.0,258603.0,33159.0,77816.0,8.10
84,Activites de services administratifs et de sou...,2017,84,15,41,3,4,AUVERGNE-RHONE-ALPES,264325.0,258603.0,33159.0,77816.0,8.10
85,Activites de services administratifs et de sou...,2017,84,26,56,3,4,AUVERGNE-RHONE-ALPES,264325.0,258603.0,33159.0,77816.0,8.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29649,Transports et entreposage,2021,84,43,29,4,4,AUVERGNE-RHONE-ALPES,290877.0,267045.0,35765.0,79730.0,6.95
29650,Transports et entreposage,2021,84,63,182,4,4,AUVERGNE-RHONE-ALPES,290877.0,267045.0,35765.0,79730.0,6.95
29651,Transports et entreposage,2021,84,69,986,4,4,AUVERGNE-RHONE-ALPES,290877.0,267045.0,35765.0,79730.0,6.95
29652,Transports et entreposage,2021,84,73,183,4,4,AUVERGNE-RHONE-ALPES,290877.0,267045.0,35765.0,79730.0,6.95
29653,Transports et entreposage,2021,84,74,218,4,4,AUVERGNE-RHONE-ALPES,290877.0,267045.0,35765.0,79730.0,6.95

<h4>Ajout des defauts<h4>

In [35]:
df_defaut

,Secteur,trimestre,code_region,code_dep,nombre_defaut
0,Activites financieres et d'assurance,2017,1,971,5
1,Activites financieres et d'assurance,2017,2,972,10
2,Activites financieres et d'assurance,2017,3,973,1
3,Activites financieres et d'assurance,2017,4,974,7
4,Activites financieres et d'assurance,2017,11,75,61
...,...,...,...,...,...
6216,Transports et entreposage,2021,93,6,28
6217,Transports et entreposage,2021,93,83,16
6218,Transports et entreposage,2021,93,84,12
6219,Transports et entreposage,2021,94,2A,1
6220,Transports et entreposage,2021,94,2B,1

In [36]:
df_defaut = df_defaut.rename(columns={'code_region': 'Code'})
df_defaut = df_defaut.rename(columns={'trimestre': 'Année'})
df_defaut

,Secteur,Année,Code,code_dep,nombre_defaut
0,Activites financieres et d'assurance,2017,1,971,5
1,Activites financieres et d'assurance,2017,2,972,10
2,Activites financieres et d'assurance,2017,3,973,1
3,Activites financieres et d'assurance,2017,4,974,7
4,Activites financieres et d'assurance,2017,11,75,61
...,...,...,...,...,...
6216,Transports et entreposage,2021,93,6,28
6217,Transports et entreposage,2021,93,83,16
6218,Transports et entreposage,2021,93,84,12
6219,Transports et entreposage,2021,94,2A,1
6220,Transports et entreposage,2021,94,2B,1

In [37]:
df_merged_2_h1 = pd.merge(df_merged_h1, df_defaut,  on=['Secteur','Code', 'Année', 'code_dep'] ,  how='left')
df_merged_2_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage,nombre_defaut
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350,NaN
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900,NaN
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850,NaN
3,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,NaN
4,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,52.0
26079,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,16.0
26080,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,12.0
26081,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0
26082,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0

In [38]:
df_merged_2_h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Secteur          26083 non-null  object
 1   Année            26083 non-null  int64
 2   Code             26083 non-null  int64
 3   code_dep         26083 non-null  object
 4   nombre_creation  26083 non-null  int64
 5   Quartile_MOY     26083 non-null  int64
 6   Quartile_CV      26083 non-null  int64
 7   Région           26083 non-null  object
 8   PIB_VAL          26083 non-null  float64
 9   PIB_VOL          26083 non-null  float64
 10  PIB_HAB          26083 non-null  float64
 11  PIB_EMP          26083 non-null  float64
 12  chomage          26083 non-null  float64
 13  nombre_defaut    22597 non-null  float64
dtypes: float64(6), int64(5), object(3)
memory usage: 2.8+ MB

In [39]:
df_merged_2_h1['nombre_defaut'] = df_merged_2_h1['nombre_defaut'].fillna(0)

In [40]:
df_merged_2_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage,nombre_defaut
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350,0.0
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900,0.0
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850,0.0
3,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0
4,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,52.0
26079,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,16.0
26080,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,12.0
26081,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0
26082,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0

In [41]:
df_merged_3_h1 = df_merged_2_h1

In [42]:
df_merged_3_h1['variation'] = df_merged_3_h1['nombre_creation'] - df_merged_3_h1['nombre_defaut']

In [43]:
df_merged_3_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage,nombre_defaut,variation
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350,0.0,279.0
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900,0.0,638.0
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850,0.0,31.0
3,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,684.0
4,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,52.0,921.0
26079,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,16.0,240.0
26080,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,12.0,134.0
26081,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,13.0
26082,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,18.0

<p style="color:red"> On ne peut faire notre modèle linéaire que sur des variables numériques il faut donc segmenter nos regions <p>

In [44]:
df_creation

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4
3,Activites de services administratifs et de sou...,2017,4,974,133,3,4
4,Activites de services administratifs et de sou...,2017,6,976,11,3,4
...,...,...,...,...,...,...,...
29657,Transports et entreposage,2021,93,13,973,4,4
29658,Transports et entreposage,2021,93,83,256,4,4
29659,Transports et entreposage,2021,93,84,146,4,4
29660,Transports et entreposage,2021,94,2A,14,4,4
29661,Transports et entreposage,2021,94,2B,19,4,4

In [45]:
df_creation_w = df_creation[["Code","nombre_creation"]]

In [46]:
df_creation_w

       Code  nombre_creation
0         1              279
1         2              638
2         3               31
3         4              133
4         6               11
...     ...              ...
29657    93              973
29658    93              256
29659    93              146
29660    94               14
29661    94               19

[29662 rows x 2 columns]

In [47]:
df_grouped = df_creation_w.groupby(['Code'])['nombre_creation'].sum().reset_index()

In [48]:
df_grouped

    Code  nombre_creation
0      1            31282
1      2            42334
2      3            11094
3      4            58464
4      6             6492
5     11          1182527
6     24           164443
7     27           203304
8     28           191905
9     32           330970
10    44           330141
11    52           217584
12    53           183932
13    75           461604
14    76           537068
15    84           604540
16    93           424451
17    94            25484

In [49]:
df_grouped['Quartile_Region_MOY'] = pd.qcut(df_grouped['nombre_creation'], q=4, labels=[1, 2, 3, 4])
df_grouped

    Code  nombre_creation Quartile_Region_MOY
0      1            31282                   1
1      2            42334                   1
2      3            11094                   1
3      4            58464                   2
4      6             6492                   1
5     11          1182527                   4
6     24           164443                   2
7     27           203304                   3
8     28           191905                   2
9     32           330970                   3
10    44           330141                   3
11    52           217584                   3
12    53           183932                   2
13    75           461604                   4
14    76           537068                   4
15    84           604540                   4
16    93           424451                   4
17    94            25484                   1

In [50]:
df_creation2 = df_creation.merge(resultat[['Secteur', 'Quartile_MOY']], on='Secteur', how='left')

NameError: name 'resultat' is not defined

In [51]:
df_merged_4_h1 = df_merged_3_h1.merge(df_grouped[['Code', 'Quartile_Region_MOY']], on='Code', how='left')
df_merged_4_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage,nombre_defaut,variation,Quartile_Region_MOY
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350,0.0,279.0,1
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900,0.0,638.0,1
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850,0.0,31.0,1
3,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,684.0,4
4,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,200.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,52.0,921.0,4
26079,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,16.0,240.0,4
26080,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,12.0,134.0,4
26081,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,13.0,1
26082,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,18.0,1

In [52]:
df_merged_4_h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Secteur              26083 non-null  object
 1   Année                26083 non-null  int64
 2   Code                 26083 non-null  int64
 3   code_dep             26083 non-null  object
 4   nombre_creation      26083 non-null  int64
 5   Quartile_MOY         26083 non-null  int64
 6   Quartile_CV          26083 non-null  int64
 7   Région               26083 non-null  object
 8   PIB_VAL              26083 non-null  float64
 9   PIB_VOL              26083 non-null  float64
 10  PIB_HAB              26083 non-null  float64
 11  PIB_EMP              26083 non-null  float64
 12  chomage              26083 non-null  float64
 13  nombre_defaut        26083 non-null  float64
 14  variation            26083 non-null  float64
 15  Quartile_Region_MOY  26083 non-null  category
dtypes: category(1), float64(7), int64(5), object(3)
memory usage: 3.0+ MB

In [53]:
print(df_merged_4_h1['Secteur'].unique())

['Activites de services administratifs et de soutien'
 "Activites financieres et d'assurance" 'Activites immobilieres'
 'Activites specialisees scientifiques et techniques'
 'Administration publique' 'Arts spectacles et activites recreatives'
 'Autres activites de services'
 "Commerce reparation d'automobiles et de motocycles" 'Construction'
 'Enseignement' 'Hebergement et restauration' 'Industrie manufacturiere'
 'Industries extractives' 'Information et communication'
 'Sante humaine et action sociale' 'Transports et entreposage']

In [54]:
# Dictionnaire de catégorisation des secteurs
sector_categories = {
    'Industries extractives': 'Agriculture',
    'Construction': 'Construction',
    'Industrie manufacturiere': 'Industrie',
    'Activites financieres et d\'assurance': 'Services principalement marchands',
    "Commerce reparation d'automobiles et de motocycles": 'Services principalement marchands',
    'Information et communication': 'Services principalement marchands',
    'Transports et entreposage': 'Services principalement marchands',
    'Activites de services administratifs et de soutien': 'Services principalement non marchands',
    'Activites immobilieres': 'Services principalement non marchands',
    'Activites specialisees scientifiques et techniques': 'Services principalement non marchands',
    'Administration publique': 'Services principalement non marchands',
    'Arts spectacles et activites recreatives': 'Services principalement non marchands',
    'Autres activites de services': 'Services principalement non marchands',
    'Enseignement': 'Services principalement non marchands',
    'Hebergement et restauration': 'Services principalement non marchands',
    'Sante humaine et action sociale': 'Services principalement non marchands'
}

# Appliquer la catégorisation en utilisant le dictionnaire
df_merged_4_h1['Categorie_Secteur'] = df_merged_4_h1['Secteur'].map(sector_categories)

In [55]:
df_merged_4_h1

,Secteur,Année,Code,code_dep,nombre_creation,Quartile_MOY,Quartile_CV,Région,PIB_VAL,PIB_VOL,PIB_HAB,PIB_EMP,chomage,nombre_defaut,variation,Quartile_Region_MOY,Categorie_Secteur
0,Activites de services administratifs et de sou...,2017,1,971,279,3,4,GUADELOUPE,8803.0,8697.0,22634.0,69521.0,22.350,0.0,279.0,1,Services principalement non marchands
1,Activites de services administratifs et de sou...,2017,2,972,638,3,4,MARTINIQUE,8786.0,8528.0,23703.0,66849.0,17.900,0.0,638.0,1,Services principalement non marchands
2,Activites de services administratifs et de sou...,2017,3,973,31,3,4,GUYANE,4127.0,3976.0,15151.0,73044.0,21.850,0.0,31.0,1,Services principalement non marchands
3,Activites de services administratifs et de sou...,2017,11,75,684,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,684.0,4,Services principalement non marchands
4,Activites de services administratifs et de sou...,2017,11,77,200,3,4,ILE-DE-FRANCE,705343.0,690076.0,57843.0,112133.0,8.150,0.0,200.0,4,Services principalement non marchands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,Transports et entreposage,2021,93,13,973,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,52.0,921.0,4,Services principalement marchands
26079,Transports et entreposage,2021,93,83,256,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,16.0,240.0,4,Services principalement marchands
26080,Transports et entreposage,2021,93,84,146,4,4,PROVENCE-ALPES-COTE D'AZUR,181067.0,166232.0,35273.0,79540.0,8.875,12.0,134.0,4,Services principalement marchands
26081,Transports et entreposage,2021,94,2A,14,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,13.0,1,Services principalement marchands
26082,Transports et entreposage,2021,94,2B,19,4,4,CORSE,10125.0,9296.0,29136.0,71334.0,6.750,1.0,18.0,1,Services principalement marchands

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:

# Sélectionnez les colonnes pour X (caractéristiques) et y (variable cible)
X = df_merged_4_h1[[ 'Année', 'Quartile_MOY', 'Quartile_CV', 'PIB_VAL', 'PIB_VOL', 'chomage', 'Quartile_Region_MOY']]
y = df_merged_4_h1['variation']

# Convertissez les variables catégorielles en variables indicatrices (dummies)
#X = pd.get_dummies(X, drop_first=True)

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Initialisez le modèle de régression linéaire
model = LinearRegression()

# Entraînez le modèle sur l'ensemble d'entraînement
model.fit(X_train, y_train)

In [ ]:
# Faites des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluez la performance du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Affichez les performances du modèle
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

In [ ]:
# Obtenez les coefficients du modèle
coefficients = model.coef_

# Obtenez l'intercept du modèle
intercept = model.intercept_

# Affichez les coefficients
print('Coefficients:', coefficients)
print('Intercept:', intercept)

In [ ]:
import statsmodels.api as sm

# Ajoutez une colonne constante pour représenter l'intercept dans le modèle
X_train = sm.add_constant(X_train)

# Initialisez le modèle de régression linéaire avec statsmodels
model_stats = sm.OLS(y_train, X_train)

# Ajustez le modèle
result = model_stats.fit()

# Affichez les statistiques détaillées
print(result.summary())

L'output fournit les résultats de la régression linéaire. Voici comment interpréter les principaux éléments de la sortie :

Coefficients (coef):

const (constante) : -2.89e+04
Année : 14.1580
Quartile_MOY : 85.1934
Quartile_CV : 10.6791
PIB_VAL : 0.0041
PIB_VOL : -0.0037
chomage : 8.8937
Quartile_Region_MOY_2 : 38.3696
Quartile_Region_MOY_3 : 35.7284
Quartile_Region_MOY_4 : 1.9070
Chaque coefficient est associé à une variable explicative particulière. Par exemple, pour la variable 'Année', une augmentation d'une unité de l'année est associée à une augmentation d'environ 14.16 unités dans la variable dépendante 'variation'. Les valeurs 'const' représentent l'intercept du modèle.

P>|t| (p-value):

La colonne P>|t| donne la valeur p associée à chaque coefficient. Si la valeur p est inférieure à un niveau de signification choisi (par exemple, 0.05), le coefficient est généralement considéré comme significatif. Dans votre sortie, tous les coefficients, à l'exception de 'Quartile_Region_MOY_4', sont significatifs.
R-squared (R²) :

R-squared mesure la proportion de la variance dans la variable dépendante qui est expliquée par le modèle. Dans ce cas, le R-squared est de 0.274, ce qui signifie que le modèle explique environ 27.4% de la variance dans 'variation'.
Adj. R-squared (R² ajusté) :

C'est une version ajustée du R-squared qui prend en compte le nombre de variables explicatives dans le modèle. Un R-squared ajusté plus proche de 1 est généralement préférable.
F-statistic :

L'analyse de la variance (ANOVA) teste l'hypothèse nulle que tous les coefficients du modèle sont égaux à zéro. Le F-statistic est utilisé pour tester cette hypothèse. Une valeur faible de Prob (F-statistic) indique que le modèle dans son ensemble est significatif. Ici, le Prob (F-statistic) est proche de zéro, ce qui indique que le modèle est globalement significatif.
Prob (Omnibus) :

Test d'omnibus : teste l'hypothèse nulle que les résidus sont normalement distribués. Une faible valeur p suggère que la distribution des résidus n'est pas normale.
Durbin-Watson :

Mesure de l'autocorrélation des résidus. La valeur idéale est proche de 2. Une valeur entre 1.5 et 2.5 est généralement acceptable.
Jarque-Bera (JB) :

Un autre test de normalité des résidus. Si la valeur p est faible, cela suggère que les résidus ne sont pas normalement distribués.
Skew et Kurtosis :

Mesures de la symétrie et de l'aplatissement de la distribution des résidus.
Condition Number :

Mesure la sensibilité du modèle aux petites modifications des données. Une valeur élevée suggère une forte multicollinéarité.
Il est important de considérer ces éléments dans le contexte de votre problème et de comprendre les implications pratiques des résultats

In [ ]:
df_merged_4_h1

<p style="color:red"> On n'a pas un modèle satisfaisant car on a une segmentation spatiale sur les régions et des observations sur les départements, or on peut avoir une grande variabilité pour les département au sein d'une région

In [ ]:
df_merged_4_h1.info()

In [ ]:
df_merged_1_h2 = df_merged_4_h1

In [ ]:
df_merged_1_h2['Quartile_Region_MOY'] = df_merged_1_h2['Quartile_Region_MOY'].astype('int64')
df_merged_1_h2

In [ ]:
df_merged_1_h2.info()

In [ ]:
df_merged_2_h2= df_merged_1_h2.drop(['code_dep', 'nombre_creation', 'nombre_defaut'], axis=1)
df_merged_2_h2

In [ ]:
df_merged_3_h2 = df_merged_2_h2.groupby(['Secteur', 'Année', 'Code', 'Région'])
df_merged_3_h2

In [ ]:
df_means = df_merged_3_h2[['Quartile_MOY', 'Quartile_CV','Quartile_Region_MOY', 'chomage', 'PIB_HAB', 'PIB_EMP']].mean()

In [ ]:
df_sums = df_merged_3_h2[['PIB_VAL', 'PIB_VOL', 'variation']].sum()

In [ ]:
df_final = pd.merge(df_means, df_sums, left_index=True, right_index=True)

In [ ]:
df_final

In [ ]:
df_final.reset_index(inplace=True)

In [ ]:
df_final

In [ ]:

# Sélectionnez les colonnes pour X (caractéristiques) et y (variable cible)
X = df_final[[ 'Année', 'Quartile_MOY', 'Quartile_CV', 'PIB_VAL', 'PIB_VOL', 'chomage', 'Quartile_Region_MOY']]
y = df_final['variation']

# Convertissez les variables catégorielles en variables indicatrices (dummies)
#X = pd.get_dummies(X, drop_first=True)

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Initialisez le modèle de régression linéaire
model = LinearRegression()

# Entraînez le modèle sur l'ensemble d'entraînement
model.fit(X_train, y_train)

In [ ]:
# Faites des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluez la performance du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Affichez les performances du modèle
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

In [ ]:
# Obtenez les coefficients du modèle
coefficients = model.coef_

# Obtenez l'intercept du modèle
intercept = model.intercept_

# Affichez les coefficients
print('Coefficients:', coefficients)
print('Intercept:', intercept)

In [ ]:
import statsmodels.api as sm

# Ajoutez une colonne constante pour représenter l'intercept dans le modèle
X_train = sm.add_constant(X_train)

# Initialisez le modèle de régression linéaire avec statsmodels
model_stats = sm.OLS(y_train, X_train)

# Ajustez le modèle
result = model_stats.fit()

# Affichez les statistiques détaillées
print(result.summary())

In [ ]:

# Sélectionnez les colonnes pour X (caractéristiques) et y (variable cible)
X = df_final[[ 'Année', 'Quartile_MOY', 'Quartile_CV', 'chomage', 'Quartile_Region_MOY']]
y = df_final['variation']

# Convertissez les variables catégorielles en variables indicatrices (dummies)
#X = pd.get_dummies(X, drop_first=True)

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialisez le modèle de régression linéaire
model = LinearRegression()

# Entraînez le modèle sur l'ensemble d'entraînement
model.fit(X_train, y_train)

# Faites des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluez la performance du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Affichez les performances du modèle
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

In [ ]:
# Obtenez les coefficients du modèle
coefficients = model.coef_

# Obtenez l'intercept du modèle
intercept = model.intercept_

# Affichez les coefficients
print('Coefficients:', coefficients)
print('Intercept:', intercept)

In [ ]:
import statsmodels.api as sm

# Ajoutez une colonne constante pour représenter l'intercept dans le modèle
X_train = sm.add_constant(X_train)

# Initialisez le modèle de régression linéaire avec statsmodels
model_stats = sm.OLS(y_train, X_train)

# Ajustez le modèle
result = model_stats.fit()

# Affichez les statistiques détaillées
print(result.summary())